.logo_shop{
  -fx-background-color:linear-gradient(to right , rgb(242,112,156),rgb(255,148,114));
}
.form_right{
  -fx-background-color:linear-gradient(to right ,rgb(255,148,114), rgb(242,112,156));
}
.head_label{
  -fx-border-color:#000;
  -fx-border-radius:5px;
  -fx-padding:0 0 0 5px;
}
.login_btn{
  -fx-background-color:linear-gradient(to right,#fff600,rgb(255,148,114));
  -fx-background-radius:6px;
  -fx-border-color:#000;
  -fx-border-radius:5px;
  -fx-cursor:hand;
}
.login_btn:hover{
  -fx-background-color:#fff600;
}
.textfield{
  -fx-background-radius:9px;
  -fx-border-color:#000;
  -fx-border-radius:7px;
}
.textfield:focused{
  -fx-border-color:#fff600;
}
.taotaikhoan{
  -fx-background-color:linear-gradient(to right ,#fce300, rgb(242,112,156));
  -fx-background-radius:5px;
  -fx-border-color:#000;
  -fx-border-radius:6px;
  -fx-cursor:hand;
}
.taotaikhoan:hover{
-fx-background-color:#fce300;
}